<header>
	<figure>
		<img src="assets/logo.jpg" alt="">
		<!--<figcaption>Descripcion de la imagen</figcaption>	-->
	</figure><!--figure es etiqueta para imagen-->
	
	<h1>Recetas Ricas</h1>
	<nav>
		<ul><!--con ol es una lista con numeros-->
			<li><a href="#">Recetas</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contacto</a></li>
		</ul>
	</nav>
</header>

<section><!--engloba una seccion de la pagina-->
	<div class="news">
	<h2>últimos post</h2>
	<article class="post">
		<figure><img src="assets/tips.png" alt=""></figure>
		<h3>Dónde conseguir erizos de mar</h3> 
		<p>los erizos de mar poseen muchas propiedades beneficiosas para el organismo como el fósforo. En este vídeo encontrarás un lugar perfecto donde hallarlos</p>
		<video controls>
			<source src="assets/gandalf.mp4" video/mp4; codecs="avc.h264,avc.42E01E;mp4a.40.2"></source><!--los codecs sirven para garantizar una buena reproduccion. hay varios tipos de codecs-->
		</video>
	</article>
	<article class="post">
		<figure><img src="assets/mk.png" alt=""></figure>
		<h3>Dónde conseguir erizos de mar</h3>
		<p>los erizos de mar poseen muchas propiedades beneficiosas para el organismo como el fósforo. En este vídeo encontrarás un lugar perfecto donde hallarlos</p>
	</article>	</div>


	<article class="receta desayuno"><!--receta es primera clase y desayuno es segunda clase-->
		<figure><img src="assets/1.jpg" alt=""></figure>	
		<span class="tipo">DESAYUNO</span>
		<h2>Tarta de Fresas</h2>
		<p>Exquisita tarta de queso combinada con fresas frescas perfecto para comenzar el dia con energia</p>
		<div>
			<span><strong>Ingredientes</strong></span><!--strong le añade fuerza a la palabra ingrediente a la hora de la busqueda en google-->
			<ul>
				<li>Yogurt</li>
				<li>Fresas</li>
				<li>Queso</li>
				<li>Azucar</li>
				<li>Cereales</li>
				<li>Pasas</li>
			</ul>

		</div>
	</article>
		<article class="receta postre">
		<figure><img src="assets/1,2.jpg" alt=""></figure>	
		<span class="tipo">POSTRE</span>
		<h2>Tarta de Fresas</h2>
		<p>Exquisita tarta de queso combinada con fresas frescas perfecto para comenzar el dia con energia</p>
		<div>
			<span><strong>Ingredientes</strong></span><!--strong le añade fuerza a la palabra ingrediente a la hora de la busqueda en google-->
			<ul>
				<li>Yogurt</li>
				<li>Fresas</li>
				<li>Queso</li>
				<li>Azucar</li>
				<li>Cereales</li>
				<li>Pasas</li>
			</ul>

		</div>
	</article>

	<article class="receta almuerzo">
		<figure><img src="assets/2.jpg" alt=""></figure>	
		<span class="tipo">ALMUERZO</span>
		<h2>Tarta de Fresas</h2>
		<p>Exquisita tarta de queso combinada con fresas frescas perfecto para comenzar el dia con energia</p>
		<div>
			<span><strong>Ingredientes</strong></span><!--strong le añade fuerza a la palabra ingrediente a la hora de la busqueda en google-->
			<ul>
				<li>Yogurt</li>
				<li>Fresas</li>
				<li>Queso</li>
				<li>Azucar</li>
				<li>Cereales</li>
				<li>Pasas</li>
			</ul>

		</div>
	</article>
	<article class="receta cena">
		<figure><img src="assets/3.jpg" alt=""></figure>	
		<span class="tipo">CENA</span>
		<h2>Tarta de Fresas</h2>
		<p>Exquisita tarta de queso combinada con fresas frescas perfecto para comenzar el dia con energia</p>
		<div>
			<span><strong>Ingredientes</strong></span><!--strong le añade fuerza a la palabra ingrediente a la hora de la busqueda en google-->
			<ul>
				<li>Yogurt</li>
				<li>Fresas</li>
				<li>Queso</li>
				<li>Azucar</li>
				<li>Cereales</li>
				<li>Pasas</li>
			</ul>

		</div>
	</article>
	<article class="receta desayuno2">
		<figure><img src="assets/1.jpg" alt=""></figure>	
		<span class="tipo">DESAYUNO</span>
		<h2>Tarta de Fresas</h2>
		<p>Exquisita tarta de queso combinada con fresas frescas perfecto para comenzar el dia con energia</p>
		<div>
			<span><strong>Ingredientes</strong></span><!--strong le añade fuerza a la palabra ingrediente a la hora de la busqueda en google-->
			<ul>
				<li>Yogurt</li>
				<li>Fresas</li>
				<li>Queso</li>
				<li>Azucar</li>
				<li>Cereales</li>
				<li>Pasas</li>
			</ul>

		</div>
	</article>
	

</section>
<footer><span>Creado por luis</span></footer>